[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RIdeogram"]
	path = RIdeogram
	url = https://github.com/tickingclock1992/rideogram
	shallow = true
	registered = true
